<div fxLayoutAlign="center center" fxflexfill class="main-div" fxLayoutAlign="column">
    <mat-card fxFlex="90" class="a">
        <div style="margin-top: 10px;">
            <a href="#"fxLayoutAlign="row" id="userNavbar">
                <p style="color: white;"><strong>Neo Cars</strong></p>
                <p style="color: whitesmoke; margin-left: 5%;">Dashboard</p>
                <p style="color: thistle; margin-left: 3%;">Profile</p>
                <p style="color: thistle; margin-left: 3%;">My Booking</p>
                <p style="color: thistle; margin-left: 65%;">Logout</p>

            </a>
        </div>
    </mat-card>
</div>
<div id="companyDetails">
<mat-toolbar fxLayoutAlign="center center" style="margin-left: 7%; width: 85%; 
margin-top: 15px; height: 35%;" 
fxLayout="column">
    <p style="margin-top: 20px;">Tata Motors</p>
    <p>A Block, Shivasagar Estate,
        Dr. Annie Besant Road,
        Worli,</p>
    <p>Mumbai - 400018,</p>
    <p>+91(22) 67577200</p>
</mat-toolbar>
    <mat-toolbar style="margin-top: 20px; width: 85%; margin-left: 7%;">
    <p style="margin-left: 30px; margin-top: 7px;">2019 : Tata Harrier</p>
    <p style="margin-left: 15%; margin-top: 7px;">Rs. 17,01,478</p>
    <p style="margin-left: 18%; margin-top: 7px;">Kia@K5</p>
    <p style="margin-left: 20%; margin-top: 7px; color: red;">Booked</p>
    </mat-toolbar>

    <mat-toolbar style="margin-top: 20px; width: 85%; margin-left: 7%;">
        <p style="margin-left: 30px; margin-top: 7px;">2020 : MG Hector</p>
        <p style="margin-left: 16%; margin-top: 7px;">Rs. 15,01,567</p>
        <p style="margin-left: 18%; margin-top: 7px;">Kia@K5</p>
        <p style="margin-left: 20%; margin-top: 7px; color: green;">Available</p>
        </mat-toolbar>

        <mat-toolbar style="margin-top: 20px; width: 85%; margin-left: 7%;">
            <p style="margin-left: 30px; margin-top: 7px;">2021 : Hyundai i20</p>
            <p style="margin-left: 15%; margin-top: 7px;">Rs. 10,04.765</p>
            <p style="margin-left: 18%; margin-top: 7px;">Kia@K5</p>
            <p style="margin-left: 20%; margin-top: 7px; color:green;">Available</p>
            </mat-toolbar>
</div>