<div fxLayoutAlign="center center" fxflexfill class="main-div" fxLayoutAlign="column">
    <mat-card fxFlex="90" class="a">
        <div style="margin-top: 10px;">
            <a href="#"fxLayoutAlign="row" id="userNavbar">
                <h3 style="color: white;"><strong>Neo Cars</strong></h3>
                <p style="color: whitesmoke; margin-left: 5%; ">Dashboard</p>
                <p style="color: thistle; margin-left: 3%;">Profile</p>
                <p style="color: thistle; margin-left: 3%;">My Booking</p>
                <p style="color: thistle; margin-left: 65%;">Logout</p>

            </a>
        </div>
    </mat-card>
</div>
    <mat-toolbar style="margin-left: 7.5%; margin-top: 17px; width: 85%; height: 70%;">
        <form style="margin-top: 40%; margin-bottom: 40%;">
    <mat-toolbar style="background-color: blue; width: 255%; margin-top: 5px; color: thistle;">
        <p style="margin-left: 4%; margin-top: 4px;">Company Name</p>
        <p style="margin-left: 15%; margin-top: 4px;">Car Model</p>
        <p style="margin-left: 15%; margin-top: 4px;">Rent</p>
        <p style="margin-left: 10%; margin-top: 4px;">Days</p>
        <p style="margin-left: 13.5%; margin-top: 4px;">Total Price</p>

    </mat-toolbar>
    <mat-toolbar style="width: 200%;">
        <p style="margin-left: 5%; margin-top: 4px;">Company Name</p>
        <p style="margin-left: 20%; margin-top: 4px;">Car Model</p>
        <p style="margin-left: 19%; margin-top: 4px;">Rent</p>
        <p style="margin-left: 13%; margin-top: 4px;">Days</p>
        <p style="margin-left: 17%; margin-top: 4px;">Total Price</p>

    </mat-toolbar>
    <mat-toolbar style="width: 200%;">
        <p style="margin-left: 5%; margin-top: 4px;">Company Name</p>
        <p style="margin-left: 20%; margin-top: 4px;">Car Model</p>
        <p style="margin-left: 19%; margin-top: 4px;">Rent</p>
        <p style="margin-left: 13%; margin-top: 4px;">Days</p>
        <p style="margin-left: 17%; margin-top: 4px;">Total Price</p>

    </mat-toolbar>
    <mat-toolbar style="width: 200%;">
        <p style="margin-left: 5%; margin-top: 4px;">Company Name</p>
        <p style="margin-left: 20%; margin-top: 4px;">Car Model</p>
        <p style="margin-left: 19%; margin-top: 4px;">Rent</p>
        <p style="margin-left: 13%; margin-top: 4px;">Days</p>
        <p style="margin-left: 17%; margin-top: 4px;">Total Price</p>

    </mat-toolbar>
    <mat-toolbar style="width: 200%;">
        <p style="margin-left: 5%; margin-top: 4px;">Company Name</p>
        <p style="margin-left: 20%; margin-top: 4px;">Car Model</p>
        <p style="margin-left: 19%; margin-top: 4px;">Rent</p>
        <p style="margin-left: 13%; margin-top: 4px;">Days</p>
        <p style="margin-left: 17%; margin-top: 4px;">Total Price</p>

    </mat-toolbar>
    <mat-toolbar style="width: 200%;">
        <p style="margin-left: 5%; margin-top: 4px;">Company Name</p>
        <p style="margin-left: 20%; margin-top: 4px;">Car Model</p>
        <p style="margin-left: 19%; margin-top: 4px;">Rent</p>
        <p style="margin-left: 13%; margin-top: 4px;">Days</p>
        <p style="margin-left: 17%; margin-top: 4px;">Total Price</p>

    </mat-toolbar>
    <mat-toolbar style="width: 200%;">
        <p style="margin-left: 5%; margin-top: 4px;">Company Name</p>
        <p style="margin-left: 20%; margin-top: 4px;">Car Model</p>
        <p style="margin-left: 19%; margin-top: 4px;">Rent</p>
        <p style="margin-left: 13%; margin-top: 4px;">Days</p>
        <p style="margin-left: 17%; margin-top: 4px;">Total Price</p>

    </mat-toolbar>
</form>
    </mat-toolbar>
