<div fxLayoutAlign="center center" fxflexfill class="main-div" fxLayoutAlign="column">
    <mat-card fxFlex="90" class="a" id="adminNavbar">
        <div style="margin-top: 10px; width: 200%;" fxLayout="row">
                <h2 style="color: white;">Neo Cars</h2>
                <button mat-button style="color: whitesmoke; margin-left: 5%; margin-bottom: 0.5%;" routerLink="/dashboard">Dashboard</button>
                <button mat-button style="color: thistle; margin-left: 3%; margin-bottom: 0.5%;" routerLink="/admpage">Profile</button>
                <button mat-button style="color: thistle; margin-left: 3%; margin-bottom: 0.5%;" routerLink="/booking">My Booking</button>
                <button mat-button style="color: thistle; margin-left: 20%; margin-bottom: 0.5%;" routerLink="/page1">Logout</button>
        </div>
    </mat-card>
    

</div>
        <mat-toolbar style="margin-left: 7.5%; margin-top: 17px; width: 85%; height: 70%;" id="adminBookings">
        <form style="margin-top: 40%; margin-bottom: 40%;">
    <mat-toolbar style="background-color: blue; width: 243%; margin-top: 5px; color: thistle;" id="bookingList">
        <p style="margin-left: 4%; margin-top: 4px;">Booking ID</p>
        <p style="margin-left: 10%; margin-top: 4px;">User ID</p>
        <p style="margin-left: 10.5%; margin-top: 4px;">Car Model</p>
        <p style="margin-left: 10.5%; margin-top: 4px;">Rent</p>
        <p style="margin-left: 10.5%; margin-top: 4px;">Days</p>
        <p style="margin-left: 12.3%; margin-top: 4px;">Total Price</p>

    </mat-toolbar>
    <mat-toolbar style="width: 200%;" id="bookingList">
        <p style="margin-left: 5%; margin-top: 4px;">Booking ID</p>
        <p style="margin-left: 12%; margin-top: 4px;">User ID</p>
        <p style="margin-left: 13%; margin-top: 4px;">Car Model</p>
        <p style="margin-left: 13%; margin-top: 4px;">Rent</p>
        <p style="margin-left: 13%; margin-top: 4px;">Days</p>
        <p style="margin-left: 15%; margin-top: 4px;">Total Price</p>

    </mat-toolbar>
    <mat-toolbar style="width: 200%;" id="bookingList">
        <p style="margin-left: 5%; margin-top: 4px;">Booking ID</p>
        <p style="margin-left: 12%; margin-top: 4px;">User ID</p>
        <p style="margin-left: 13%; margin-top: 4px;">Car Model</p>
        <p style="margin-left: 13%; margin-top: 4px;">Rent</p>
        <p style="margin-left: 13%; margin-top: 4px;">Days</p>
        <p style="margin-left: 15%; margin-top: 4px;">Total Price</p>

    </mat-toolbar>
    <mat-toolbar style="width: 200%;" id="bookingList">
        <p style="margin-left: 5%; margin-top: 4px;">Booking ID</p>
        <p style="margin-left: 12%; margin-top: 4px;">User ID</p>
        <p style="margin-left: 13%; margin-top: 4px;">Car Model</p>
        <p style="margin-left: 13%; margin-top: 4px;">Rent</p>
        <p style="margin-left: 13%; margin-top: 4px;">Days</p>
        <p style="margin-left: 15%; margin-top: 4px;">Total Price</p>

    </mat-toolbar>
    <mat-toolbar style="width: 200%;" id="bookingList">
        <p style="margin-left: 5%; margin-top: 4px;">Booking ID</p>
        <p style="margin-left: 12%; margin-top: 4px;">User ID</p>
        <p style="margin-left: 13%; margin-top: 4px;">Car Model</p>
        <p style="margin-left: 13%; margin-top: 4px;">Rent</p>
        <p style="margin-left: 13%; margin-top: 4px;">Days</p>
        <p style="margin-left: 15%; margin-top: 4px;">Total Price</p>

    </mat-toolbar>
    <mat-toolbar style="width: 200%;" id="bookingList">
        <p style="margin-left: 5%; margin-top: 4px;">Booking ID</p>
        <p style="margin-left: 12%; margin-top: 4px;">User ID</p>
        <p style="margin-left: 13%; margin-top: 4px;">Car Model</p>
        <p style="margin-left: 13%; margin-top: 4px;">Rent</p>
        <p style="margin-left: 13%; margin-top: 4px;">Days</p>
        <p style="margin-left: 15%; margin-top: 4px;">Total Price</p>

    </mat-toolbar>
    <mat-toolbar style="width: 200%;" id="bookingList">
        <p style="margin-left: 5%; margin-top: 4px;">Booking ID</p>
        <p style="margin-left: 12%; margin-top: 4px;">User ID</p>
        <p style="margin-left: 13%; margin-top: 4px;">Car Model</p>
        <p style="margin-left: 13%; margin-top: 4px;">Rent</p>
        <p style="margin-left: 13%; margin-top: 4px;">Days</p>
        <p style="margin-left: 15%; margin-top: 4px;">Total Price</p>

    </mat-toolbar>
</form>
    </mat-toolbar>