
<div fxLayoutAlign="center center" fxflexfill class="main-div" fxLayoutAlign="column">
    <mat-card fxFlex="90" class="a" id="userNavbar">
        <div style="margin-top: 10px; width: 200%;" fxLayout="row">
                <h2 style="color: white;">Neo Cars</h2>
                <button mat-button style="color: whitesmoke; margin-left: 5%; margin-bottom: 0.5%;"routerLink="/page">Dashboard</button>
                <button mat-button style="color: thistle; margin-left: 3%; margin-bottom: 0.5%;" routerLink="/edit">Profile</button>
                <button mat-button style="color: thistle; margin-left: 3%; margin-bottom: 0.5%;" routerLink="/user">My Booking</button>
                <button mat-button style="color: thistle; margin-left: 20%; margin-bottom: 0.5%;" routerLink="/">Logout</button>
        </div>
    </mat-card>
    

</div> 
<div id="userDashboard">
    <mat-toolbar style="margin-top: 20px; width: 85%; margin-left: 7%;">
    <img src="../../assets/1.jpg" style="border-radius: 50%;">
    <a routerLink="/company" style="margin-left: 55px; margin-top: 7px;">Lamborghini</a>
    <p style="margin-left: 23%; margin-top: 7px;">Aotomobili via Modena,12</p>
    <p style="margin-left: 20%; margin-top: 7px;">+39 051 959.7611</p>
    </mat-toolbar>
    <mat-toolbar style="margin-top: 20px; width: 85%; margin-left: 7%;">
        <img src="../../assets/2.jpg" style="border-radius: 50%;">
        <a routerLink="/company" style="margin-left: 55px; margin-top: 7px;">Tata Motors</a>
        <p style="margin-left: 23%; margin-top: 7px;">Shivasagar Estate,Mumbai</p>
        <p style="margin-left: 20%; margin-top: 7px;">+91(22) 67577200</p>
        </mat-toolbar>
        <mat-toolbar style="margin-top: 20px; width: 85%; margin-left: 7%;">
            <img src="../../assets/4-1.jpg" style="border-radius: 50%;">
            <a routerLink = "/company" style="margin-left: 55px; margin-top: 7px;">Mahindra</a>
            <p style="margin-left: 25%; margin-top: 7px;">Worli,Mumbai Maharastra</p>
            <p style="margin-left: 20%; margin-top: 7px;">2289550024901441</p>
            </mat-toolbar>
        </div>
    