<div fxLayoutAlign="center center" fxflexfill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar fxLayout="column">
        <div fxLayout="row" style="margin-top: 5px;">
            <mat-toolbar style="height:30px; background-color: white; width: 30%;">
        <h1 style="padding-right: 4rem;">User</h1>
    </mat-toolbar>
        <h1 style="padding-left: 8rem;">Admin</h1>
        </div>LOGIN</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" >
    <mat-form-field>
        <input matInput  placeholder="Enter User Name" id="email">
    </mat-form-field>
          <mat-form-field>
                <input matInput type="password" placeholder="Enter Password" id="password">
        </mat-form-field>
            <button mat-raised-button class="sub" id="submitButton" (click)="donavigate()">Submit</button>
            <div fxLayoutAlign="row" class="here"> 
            <p>New to Booking?</p>
            <a routerLink="/registration">Click here</a>
        </div>
          </form>
    </mat-card>
    {{message}}
    
</div>

