<div fxLayoutAlign="center center" fxflexfill class="main-div" fxLayoutAlign="column">
    <mat-card fxFlex="90" class="a">
        <div style="margin-top: 10px;">
            <a href="#"fxLayoutAlign="row" id="userNavbar">
                <p style="color: white;">Neo Cars</p>
                <p style="color: whitesmoke; margin-left: 5%;">Dashboard</p>
                <p style="color: thistle; margin-left: 3%;">Profile</p>
                <p style="color: thistle; margin-left: 3%;">My Booking</p>
                <p style="color: thistle; margin-left: 65%;">Logout</p>

            </a>
        </div>
    </mat-card>
    

</div> 
<div id="userDashboard">
    <mat-toolbar style="margin-top: 20px; width: 85%; margin-left: 7%;">
    <img src="../../assets/img.jpg" style="border-radius: 50%;">
    <p style="margin-left: 55px; margin-top: 7px;">Admin Name</p>
    <p style="margin-left: 10%; margin-top: 7px;">Company Name</p>
    <p style="margin-left: 10%; margin-top: 7px;">Company Address</p>
    <p style="margin-left: 9%; margin-top: 7px;">Mobile Number</p>
    <mat-icon class="icon" fxLayoutAlign="center">delete</mat-icon>
    </mat-toolbar>
    <mat-toolbar style="margin-top: 20px; width: 85%; margin-left: 7%;">
        <img src="../../assets/img.jpg" style="border-radius: 50%;">
        <p style="margin-left: 55px; margin-top: 7px;">Admin Name</p>
    <p style="margin-left: 10%; margin-top: 7px;">Company Name</p>
    <p style="margin-left: 10%; margin-top: 7px;">Company Address</p>
    <p style="margin-left: 9%; margin-top: 7px;">Mobile Number</p>
    <mat-icon class="icon" fxLayoutAlign="center">delete</mat-icon>
        </mat-toolbar>
        <mat-toolbar style="margin-top: 20px; width: 85%; margin-left: 7%;">
            <img src="../../assets/img.jpg" style="border-radius: 50%;">
            <p style="margin-left: 55px; margin-top: 7px;">Admin Name</p>
    <p style="margin-left: 10%; margin-top: 7px;">Company Name</p>
    <p style="margin-left: 10%; margin-top: 7px;">Company Address</p>
    <p style="margin-left: 9%; margin-top: 7px;">Mobile Number</p>
    <mat-icon class="icon" fxLayoutAlign="center">delete</mat-icon>
            </mat-toolbar>
            <mat-toolbar style="margin-top: 20px; width: 85%; margin-left: 7%;">
                <img src="../../assets/img.jpg" style="border-radius: 50%;">
                <p style="margin-left: 55px; margin-top: 7px;">Admin Name</p>
        <p style="margin-left: 10%; margin-top: 7px;">Company Name</p>
        <p style="margin-left: 10%; margin-top: 7px;">Company Address</p>
        <p style="margin-left: 9%; margin-top: 7px;">Mobile Number</p>
        <mat-icon class="icon" fxLayoutAlign="center">delete</mat-icon>
                </mat-toolbar>
                <mat-toolbar style="margin-top: 20px; width: 85%; margin-left: 7%;">
                    <img src="../../assets/img.jpg" style="border-radius: 50%;">
                    <p style="margin-left: 55px; margin-top: 7px;">Admin Name</p>
            <p style="margin-left: 10%; margin-top: 7px;">Company Name</p>
            <p style="margin-left: 10%; margin-top: 7px;">Company Address</p>
            <p style="margin-left: 9%; margin-top: 7px;">Mobile Number</p>
            <mat-icon class="icon" fxLayoutAlign="center">delete</mat-icon>
                    </mat-toolbar>
        </div>
