<div  fxLayoutAlign="center center" fxflexfill>
    <mat-card fxFlex="25" style="margin-top: 10%;">
        <mat-toolbar fxLayout="column">
            <div fxLayout="row" style="margin-top: 5px;">
            <h1 style="padding-right: 8rem;">User</h1>
            <mat-toolbar style="height:30px; background-color: white; width: 35%; margin-left: 8%;">
            <h1 style="padding-left: 0.5rem;">Admin</h1>
        </mat-toolbar>
            </div>LOGIN</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
    <mat-form-field>
        <input matInput  placeholder="Enter User Name" id="email">
    </mat-form-field>
          <mat-form-field>
                <input matInput type="password" placeholder="Enter Password" id="password">
        </mat-form-field>
            <button mat-raised-button type="submit" class="sub" id="submitButton">Submit</button>
            <div fxLayoutAlign="row" class="here">
            <p style="margin-left: 25%;">New to Booking?</p>
            <a href="#" style="margin-left: 1%; color: royalblue;">Click here</a>
        </div>
          </form>
    </mat-card>
</div>

