.a{
    background-color: blue;
    margin-top: 15px;
    margin-left: 5%;
}
.car{
    margin-left: 10%;
    margin-top: 11%;
    
}
.btn{
    background-color: green;
    margin-left: 17%;
    color: white;
    width: 20%;
}