.matnav {
    background-color: blue;
    width:100%;
    margin-left: 5%;
    margin-top: 1%;
}
.a{
    background-color: blue;
    margin-left: 5%;
    margin-top: 15px;
    
}
a:active{
    background-color: cadetblue;
}
.btn{
    margin-top: 10%;
    background-color: blue;
    color: white;
    border-radius: 15%;
}