<div fxLayoutAlign="center center" fxflexfill class="main-div" fxLayoutAlign="row">
    <mat-card fxFlex="90" class="a">
        <div style="margin-top:10px;">
            <a href="#"fxLayoutAlign="row" id="userNavbar">
                <h3 style="color: white;"><strong>Neo Cars</strong></h3>
                <p style="color: whitesmoke; margin-left: 5%; margin-top: 3px;">Dashboard</p>
                <p style="color: thistle; margin-left: 3%; margin-top: 3px;">Profile</p>
                <p style="color: thistle; margin-left: 3%; margin-top: 3px;">My Booking</p>
                <p style="color: thistle; margin-left: 65%;">Logout</p>

            </a>
        </div>
    </mat-card>
</div>
        <mat-toolbar style="margin-top: 5%; margin-left: 30%; width: 35%; height: 65%;">
            <form fxFlex="40" fxLayout="column" style="margin-left: 10%; padding: 0px;">
                <mat-toolbar-row>
                <mat-icon style="margin-right: 5px;">arrow_back_ios</mat-icon>
                <p style="margin-top: 10px;">back</p>
                </mat-toolbar-row>
                <mat-form-field style="margin-top: 15px;">
                    <input matInput placeholder="Car Model"id="carModel">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Car Rent Price"id="carPrice">
                </mat-form-field>
                <mat-form-field>
                    <input matInput  placeholder="Car Type"id="carType">
                </mat-form-field>
                        <button mat-raised-button type="add car" class="sub" id="addCarButton">Add Car</button>
                      </form>
        </mat-toolbar>
