<div fxLayoutAlign="center center" fxflexfill class="main-div" fxLayoutAlign="column">
    <mat-card fxFlex="90" class="a">
        <div style="margin-top: 10px;">
            <a href="#"fxLayoutAlign="row" id="userNavbar">
                <h3 style="color: white;">Neo Cars</h3>
                <p style="color: whitesmoke; margin-left: 5%;">Dashboard</p>
                <p style="color: thistle; margin-left: 3%;">Profile</p>
                <p style="color: thistle; margin-left: 3%;">My Booking</p>
                <p style="color: thistle; margin-left: 65%;">Logout</p>

            </a>
        </div>
    </mat-card>
</div>
<mat-toolbar-row style="height: 25%;">
    <mat-toolbar style="margin-top: 15%; margin-bottom: 5%; width: 21%; margin-left: 6%; height: 150%;">
    </mat-toolbar>
    
    <form class="car">
        <p>Car Model : Model Name</p>
        <p>Price     : $200</p>  
        <p>Type      : Car Type</p>
        <p>Description</p>
        <mat-toolbar style="width: 300%;">

        </mat-toolbar>      
</form>

   
    </mat-toolbar-row>
        <mat-toolbar-row style="margin-top: 7.8%;">
        <mat-toolbar style="margin-top: 20px; width: 5%; margin-left: 6%; height: 100%;">
        </mat-toolbar>
        <mat-toolbar style="margin-top: 20px; width: 5%; margin-left: 5px; height: 100%;">
        </mat-toolbar>
        <mat-toolbar style="margin-top: 20px; width: 5%; margin-left: 5px; height: 100%;">
        </mat-toolbar>
        <mat-toolbar style="margin-top: 20px; width: 5%; margin-left: 5px; height: 100%;">
        </mat-toolbar>
        <button mat-raised-button type="book the car" class="btn">Book the Car</button>
    </mat-toolbar-row>

    <mat-toolbar-row style="margin-top: 10px;">
        <mat-toolbar style="margin-top: 20px; width: 5%; margin-left: 6%; height: 100%;">
        </mat-toolbar>
        <mat-toolbar style="margin-top: 20px; width: 5%; margin-left: 5px; height: 100%;">
        </mat-toolbar>
        <mat-toolbar style="margin-top: 20px; width: 5%; margin-left: 5px; height: 100%;">
        </mat-toolbar>
        <mat-toolbar style="margin-top: 20px; width: 5%; margin-left: 5px; height: 100%;">
        </mat-toolbar>
    </mat-toolbar-row>

