<div  fxFlexfill class="main-div" style="margin-top: 0px;" fxLayoutAlign="center">
    <mat-card fxFlex="30" >
        <mat-toolbar fxLayoutAlign="center center">SIGN UP</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
    <mat-form-field>
        <input matInput  placeholder="Enter Email" id="email">
    </mat-form-field>
    <mat-form-field>
        <input matInput  type="password" placeholder="Enter Password" id="password">
    </mat-form-field>
    <mat-form-field>
        <input matInput  placeholder="Enter Mobile Number" id="mobilenumber">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Admin</mat-label>
        <mat-select>
            <mat-option value="null"></mat-option>
        </mat-select>
      </mat-form-field>
      
    <mat-form-field>
        <input matInput  placeholder="Enter Seller Name" id="adminname">
    </mat-form-field>
          <mat-form-field>
                <input matInput  placeholder="Enter Company Name" id="companyname">
        </mat-form-field>
        <mat-form-field>
            <input matInput  placeholder="Enter Company Image Url" id="companyimageURL">
    </mat-form-field>
    <mat-form-field>
        <input matInput  placeholder="Enter Company Address" id="companyaddress">
</mat-form-field>
            <button mat-raised-button type="submit" class="sub" id="submitButton" >Submit</button>
            <div fxLayoutAlign="row" class="here">
            <p>Go to Login</p>

            <a href="#" id="loginLink">Click Here</a>
        </div>
          </form>
    </mat-card>
</div>
